<div class="width-100 right-align type-xxs flex border-bottom">
  <div class="flex-3 pvs phm center-align flex-table__row-title">
    <span class="em-high">&nbsp;</span>
  </div>

  <div class="flex-1 pvs phm center-align border-left border-left-transparent flex-table__col-title col">
    <span class="em-high">&nbsp;<br>Comments</span>
  </div>
  <div class="flex-1 pvs phm center-align border-left border-left-transparent flex-table__col-title col">
    <span class="em-high">&nbsp;<br>VNY</span>
  </div>
  <div class="flex-1 pvs phm center-align border-left border-left-transparent flex-table__col-title col">
    <span class="em-high">&nbsp;<br>Medical Spending</span>
  </div>
  <div class="flex-1 pvs phm center-align border-left border-left-transparent flex-table__col-title col">
    <span class="em-high">&nbsp;<br>Medical Insurance Totals</span>
  </div>
  <div class="flex-1 pvs phm center-align border-left border-left-transparent flex-table__col-title col">
    <span class="em-high">&nbsp;<br>Adjustment Totals</span>
  </div>
</div>

