<div class="global-header flex">
  <div id="page-menu" class="flex-1 pull-left">
    <ul class="mll">
      <li class="mrl"><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Grid</a></li>
      <li class="mrl"><a routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Grid Graphs</a></li>
      <li class="mrl"><a routerLink="view" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Grid Data</a></li>
    </ul>
  </div>
</div>
