.modal {
  background: rgba(0,0,0,0.6);
}
.reassign-modal-content {
  height: 50px;
  line-height: 50px;
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: 500
  }
}
