
:host /deep/ .select2-container {

  margin-left: -1px;
  margin-right: 1px;

  input {
    text-align: left !important;
  }

  .select2-results__option[aria-selected=true]{
    display: none !important;
    height: 0px !important;
  }

}
