.donut-chart-wrapper {

  position: relative;

  .donut-chart {
    text-align: center;
  }

  .vertical {
    margin-top: -24px;
  }

  .percent {
    position: absolute;
    top: 60px;
    width: 50%;
    text-align: center;
    z-index: 10;
    font-size: 32px;
    left: 25%;
  }

}

:host /deep/ .c3-tooltip-container {
  z-index: 11;

  .c3-tooltip td {
    border: 1px solid grey;
  }

}