<div class="content-title-agency-gateway border-bottom-clear">&nbsp;

  <div class="mavl ptvl">

    <h5 class="man pan">Medical Grid</h5>
    <h1 class="man pan">Data Medical Wise</h1>

    <div class="mtvl flex-between">

      <ag-highlight class="flex-5">
        <h1 main-text>2</h1>
        <span link-text>Peer Reviews</span>
      </ag-highlight>

      <span class="flex-5 border-left" style="max-width: 1px;"></span>

      <ag-highlight class="flex-7">
        <h1 main-text>9.9 M</h1>
        <span link-text>Research Review</span>
      </ag-highlight>

      <span class="flex-5 border-left" style="max-width: 1px;"></span>

      <ag-highlight class="flex-7">
        <h1 main-text>9 T</h1>
        <span link-text>Certified Hospitals</span>
      </ag-highlight>

      <span class="flex-5 border-left" style="max-width: 1px;"></span>

      <ag-highlight class="flex-7">
        <h1 main-text>1.8 M</h1>
        <span link-text>Annual Contributions</span>
      </ag-highlight>

    </div>

  </div>

</div>